name: vibe-ml-infer
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - numpy
  - pandas
  - scikit-learn
  - joblib
  - pip
  - pip:
      - azureml-inference-server-http
      - inference-schema
